body{
padding-top:95px;
}

a:link{
text-decoration:none;
}

a:visited {
    text-decoration: none;
}

.panel-body{
    text-align:center;
}

span.glyphicon{
    font-size:4.2em;
    padding:25px;
}

span.glyphicon-plus{
    font-size:4.2em;
    padding:18px;
}


h2{
    text-align:center;
}

.jumbotron{
    color: #428bca;
}